<div class="process-container">
    <div class="process-header">
        <span>About</span>
    </div>

    <div class="process-container">
        <p>SCAIA (Sentinel based Complex Agri-Industrial Application) is an operational, automated processing chain,
            generating customized agricultural products from Sentinel-1 (A&B) and Sentinel-2 (A&B) time series data,
            according to the client’s predefined requests. The Web application was tailored to the needs of Dalmand
            Corporation (Bonafarm Group), and provides near real time monitoring of their cropland management. The
            standalone system can be run on any hardware running a Unix-like operating system; even on HPCs and cloud
            computing server infrastructures. The system is currently configured to develop 42 dedicated products under
            4 main categories. Most of the final products are related to four major crop types (winter wheat, winter
            barley, rapeseed, and corn). All services were requested by our pilot partner, and each product was verified
            by experts in respect to their own operations purposes. SCAIA is a joint effort of Sarmap SA, Dalmand
            Corporation, and the University of Pécs. The development was supported by the European Space Agency and the
            National Information Infrastructure Development Institute supercomputing infrastructure (NIIF HPC).</p>
        <div class="about-logo-container">
            <a href="http://www.sarmap.ch/wp/" target="_blank">
                <img src="/assets/images/logos/sarmap.png">
            </a>
            <a href="https://bonafarmcsoport.hu/tagvallalataink/dalmand-zrt/" target="_blank">
                <img src="/assets/images/logos/dalmand.png">
            </a>
            <a href="https://www.esa.int/" target="_blank">
                <img src="/assets/images/logos/esa.png">
            </a>
            <a href="https://international.pte.hu/" target="_blank">
                <img src="/assets/images/logos/pte.png">
            </a>
            <a href="https://hpc.niif.hu/index_en.php" target="_blank">
                <img src="/assets/images/logos/hpc.png">
            </a>
        </div>
    </div>
</div>
