<div class="login-box">
  <h1 class="h1">Sign up</h1>
  <div class="textbox">
    <i class="fa fa-user icon" aria-hidden="true"></i>
    <input type="text" placeholder="Username">
  </div>

  <div class="textbox">
    <i class="fa fa-envelope icon" aria-hidden="true"></i>
    <input type="text" placeholder="E-mail address">
  </div>

  <div class="textbox">
    <i class="fa fa-unlock icon" aria-hidden="true"></i>
    <input type="password" placeholder="Password">
  </div>

  <div class="textbox">
    <i class="fa fa-unlock icon" aria-hidden="true"></i>
    <input type="password" placeholder="Confirm password">
  </div>

  <input class="btn" type="button" value="Sign up">
  <input class="btn" type="button" value="Sign in" (click)="changeMode()">

</div>
