<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a [class]="'nav-link' + (mode === 'addNewJob' ? ' text-dark' : '')" (click)="navChangeMode('addNewJob')">New product</a>
            </li>
            <li class="nav-item">
                <a [class]="'nav-link' + (mode === 'jobQuery' ? ' text-dark' : '')" (click)="navChangeMode('jobQuery')">List products</a>
            </li>
            <li class="nav-item">
                <a [class]="'nav-link' + (mode === 'help' ? ' text-dark' : '')" (click)="navChangeMode('help')">Help</a>
            </li>
            <li class="nav-item">
                <a [class]="'nav-link' + (mode === 'about' ? ' text-dark' : '')">About</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-5">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    {{userName}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a *ngIf="userData && userData.admin" href="admin/users/admin"
                        class="dropdown-item">Administration</a>
                    <a class="dropdown-item" (click)="navChangeMode('userSettings')">User settings</a>
                    <a class="dropdown-item" (click)="onLogOut()">Log out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
