.process-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header-input{
  align-self: center;
  color: rgba(0,0,0,1);
  font-weight: 800;
}

.btn-container {
  height: 100%;
  width: 100%;
  display: flex;
  overflow-y: auto;
}

.btn-grid{
  display: grid;
  width: 100%;
  grid-auto-flow: row;
  row-gap: 4em;
  grid-auto-rows: 7.5em;
  padding: 0 2em;
}

@media (min-width: 768px) {
  .btn-grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
  }

  .btn-container {
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .btn-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.btn-text{
  color: rgba(0,0,0,1);
  font-weight: 500;
}

.process-btn{
  width: 100%;
  height: 100%;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  transition-duration: 400ms;

}

.btn1{
  background-color: rgba(250,0,0,1);
}

.icon{
  font-size: 2em;
  margin: 3px;
  transition-duration: 400ms;
  padding-right: 30px;
  color: rgba(0,0,0,1);
}

.btn1:hover .icon{
  font-size: 60px;
  transition-duration: 400ms;
  margin-right:0;
}

.btn1:hover{
  background-color: rgba(210,0,0,1);
  transition-duration: 400ms;
  border: 5px;
  border-color: rgb(40,40,40);
  border-style: inset;
}

.process-header {
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  position: relative;
  width: 100%;
}

.process-header .navigate-back {
  user-select: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
}
