<h1>Add new job</h1>
<div class="userinput_container">
  <h1 class="header">{{ content_title1 }}</h1>
  <div class="submit_form">
    <form>
      <label for="area">Area</label><br>
      <input type="number" id="area"><br>

      <label for="region_name">Name of the region</label><br>
      <input type="text" id="region_name"><br>

      <label for="landscape">Choose the landscape type:</label><br>
      <select id="landscape" name="Landscape">
        <option value="forest">Forest (unclassified)</option>
        <option value="grass_field">Grass Field (uncultivated)</option>
        <option value="built">Built area</option>
        <option value="unknown">Unknown</option>
      </select><br>

      <button type="submit" onclick="alert('User input sent to server')">Submit</button>
    </form>
  </div>
</div>
