<div class="addNewJob-container">
  <h1 class="header-input">{{ content_title1 }}</h1>
  <div class="btn-div">
    <div class="btn1-div">
      <button class="addNewJob-btn btn1">
        <span class="btn-text">Button One</span>
        <span class="icon"><i class="fas fa-arrow-circle-right"></i></span>
      </button>
    </div>
    <div class="btn2-div">
      <button class="addNewJob-btn btn2">
        <span class="btn-text">Button Two</span>
        <span class="icon"><i class="fas fa-arrow-circle-right"></i></span>
      </button>
    </div>
    <div class="btn3-div">
      <button class="addNewJob-btn btn3">
        <span class="btn-text">Button Three</span>
        <span class="icon"><i class="fas fa-arrow-circle-right"></i></span>
      </button>
    </div>
    <div class="btn4-div">
      <button class="addNewJob-btn btn4">
        <span class="btn-text">Button Four</span>
        <span class="icon"><i class="fas fa-arrow-circle-right"></i></span>
      </button>
    </div>
  </div>
</div>
