<body>

  <div class="login_box">
    <h1 class="h1">Login</h1>
    <div class="textbox">
      <i class="glyphicon glyphicon-user icon"></i>
      <input type="text" placeholder="Username">
    </div>

    <div class="textbox">
      <svg  viewBox="0 0 16 16" class="bi bi-lock-fill icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z"/>
        <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
      </svg>
      <input type="password" placeholder="Password">
    </div>

    <input class="btn" type="button" value="Sign in">

  </div>

</body>

<style>
  @import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";

  body{
  /*margin-left:auto;
  margin-right: auto;*/
  margin-left: 10vh;
  margin-top: 10%;
  width: 20%;
  min-width: 360px;
  height: 80%;
  background-color: rgba(220,220,220, 0.6);
  max-height:inherit;
  border-radius: 10px;
}



.login_box, .h1{
  float: left;
  font-size: 40px;
  border-bottom: 6px solid;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 10px 0;
}

.login_box{
  padding: 10px;
}

.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid;
}


.icon{
  width: 26px;
  float:left;
  text-align: center;
}

.textbox input{
  border:none;
  outline: none;
  background: none;
  font-size: 20px;
  float: left;
  margin: 0 10px;
}

.btn{
  width: 100%;
  background: none;
  border: 2px solid;
  padding: 5px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  margin: 12px 0;
  transition: 500ms;
}

.btn:hover{
  background-color: rgba(30, 30, 30, 0.6);
   color: white;
   transition: 500ms;
}

</style>
