
.root_div{
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  background-image: url("../images/backround.jpg");
  display: flex;
  flex-direction: column;
}

 .footer{
  height: 15vh;
  background-color: aqua;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
 }

.logo_img{
  float: right;
}
