<div class="root_div">



  <div class="main_container">
    <!--This is the main container, including logos, controllers, and the main field-->

      <div class="user_controller">
        <button class="nav-item nav-link user" routerLink="/login" id="login">
          Log in
        </button>

        <button class="user nav-item nav-link" routerLink="/register">
          Sign up
        </button>
      </div>

      <div class="routerOutlet">
        <router-outlet></router-outlet>
      </div>
  </div>

</div>


