.root-div{
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: url("/assets/images/backround.jpg");
  display: flex;
  flex-direction: column;
}

.footer{
  height: 50px;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
}

.logo-img{
  height: 100%;
  margin-left: auto;
}
