body{
    /*margin-left:auto;
    margin-right: auto;*/
    margin-left: 10vh;
    margin-top: 10%;
    width: 20%;
    min-width: 360px;
    height: 80%;
    background-color: rgba(220,220,220, 0.6);
    max-height:inherit;
    border-radius: 10px;
}

.login_box, .h1{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 10px 0;
}

.login_box{
    padding: 10px;
}

.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid;
}


.icon{
    width: 26px;
    float:left;
    text-align: center;
}

.textbox input{
    border:none;
    outline: none;
    background: none;
    font-size: 20px;
    float: left;
    margin: 0 10px;
}

.btn{
    width: 100%;
    background: none;
    border: 2px solid;
    padding: 5px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin: 12px 0;
    transition: 500ms;
}

.btn:hover{
    background-color: rgba(30, 30, 30, 0.6);
    color: white;
    transition: 500ms;
}