<div class="login-box">
  <h1 class="h1">Login</h1>
  <p *ngIf="errorMsg" class="form-validation">{{errorMsg}}</p>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <div class="textbox">
      <div class="form-input">
        <i class="fa fa-user icon" aria-hidden="true"></i>
        <input type="text" placeholder="Username" formControlName="username">
      </div>
    </div>

    <div class="textbox">
      <div class="form-input">
        <i class="fa fa-unlock icon" aria-hidden="true"></i>
        <input type="password" placeholder="Password" formControlName="password">
      </div>
    </div>

    <input type="hidden" formControlName="csrf">

    <input class="btn login-btn" type="submit" value="Sign in">
  </form>
  <input class="btn login-btn" type="button" value="Sign up" (click)="changeMode('register')">
  <a class="forgot-passwd" (click)="changeMode('passwd')">Forgot password?</a>
</div>
