<div class="home-body">
  <app-navbar (navMode)="changeMode($event)" [userData]="userData" [mode]="mode" (logOut)="logout()"></app-navbar>
  <app-map #map [canLoadData]="!!userData"></app-map>

  <div class="main_container">
    <!--This is the main container, including logos, OL Map, controllers, and the main field-->
    <div class="main_field" *ngIf="mode !== ''">
      <!--Here the main content can be found. Every sub-component (calculations, registration form etc) will be visible here-->
        <app-userSettings *ngIf="mode === 'userSettings'" [userNameInput]="getUserName('')"></app-userSettings>
        <app-addNewJob #addNewJob *ngIf="mode === 'addNewJob'" [navigateId]="navigateId" (showMap)="showMap($event)" (close)="close()" (getHelp)="onHelp($event)"></app-addNewJob>
        <app-jobQuery *ngIf="mode === 'jobQuery'"></app-jobQuery>
        <app-dataDownload *ngIf="mode === 'dataDownload'"></app-dataDownload>
        <app-contact *ngIf="mode === 'contact'"></app-contact>
        <app-help #help *ngIf="mode === 'help'" [navigateId]="navigateId" (navigateBack)="onHelpBack()"></app-help>
        <app-tutorial *ngIf="mode === 'tutorial'"></app-tutorial>
    </div>

  </div>
</div>
