<div class="root_div">

  <div class="header">

    <div class="btn-div">
      <input class="btn" type="button" value="Add new job">
      <input class="btn" type="button" value="Job query">
      <input class="btn" type="button" value="Data download">
    </div>

    <p class="username"> user </p>
  </div>
  <div class="main_container">
    <!--This is the main container, including logos, controllers, and the main field-->


    <div class="main_field">
      <!--Here the main content can be found. Every sub-component (calculations, registration form etc) will be visible here-->
      <div class="main_field_title">
        <p class="title_text">Field Title</p>
      </div>


      <div class="main_field_content">
        <div class="userinput" style="visibility: visible;">
        </div>

        <!--
        <div class="login" style="visibility: hidden;">
          <app-login id="login_component"></app-login>
        </div>
        -->
      </div>
    </div>

  </div>

</div>
